.cardbody{
  border:2px solid black;
  padding:1%;
  margin:2%;
  border-radius:30px;
  text-align:center;
  width:50%;
  font-size: 20px;
  box-shadow: 1px 1px 3px black;
}
.cardbody img{
  height:50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
p{
  color:green;
}
s{
  color:red;
}
button{
  background:green;
  color:white;
}
.card{
  display:flex;
  /* flex-direction: row; */
  justify-content: center;
  padding: 1%
}
